/*
   Product: Main stylesheet of StarOS project.
   Description:	This stylesheet contain all link for other css and fonts.
   License: http://creativecommons.org/licenses/by/3.0/legalcode

   Version: 0.1								Date: 2013-12-23_13:00
   By Blackcancer
  
   website: 
   support: blackcancer@initsysrev.net
*/

@charset "utf-8";
@import url(lib/default.css);
@import url(StarOS/StarMap/mapinfo.css);
@import url(StarOS/StarMap/sysselect.css);