/*
   Product: Info box stylesheet of StarOS Map project.
   Description: This stylesheet contain all mapInfo balises css.
   License: http://creativecommons.org/licenses/by/3.0/legalcode

   Version: 0.1								Date: 2014-
   By Blackcancer
  
   website: 
   support: blackcancer@initsysrev.net
*/

@charset "utf-8";

#sysSelect{
	position: absolute;
	width: 110px;
	height:100px;
	font-size: 12px;
	font-family: "Neuropolitical Rg";
	color: #b4ffff;
	text-shadow: 0 0 10px #80ffff;
}

#sysSelectLX, #sysSelectLY, #sysSelectLZ{
	position: absolute;
}

#sysSelectLY{
	top: 30px;
}

#sysSelectLZ{
	top: 60px;
}

#sysSelectFX, #sysSelectFY, #sysSelectFZ{
	position: absolute;
	width: 90px;
	right: 0px;
	background: #000;
	opacity: 0.75;
	border: 1px solid #b4ffff;
	border-radius: 5px;
	box-shadow: 0 0 1px #b4ffff, inset 0 0 1px #b4ffff, 0 0 5px #80ffff;
	font-family: "Neuropolitical Rg";
	font-size: 10px;
	color: #b4ffff;
}

#sysSelectFY{
	top: 30px;
}

#sysSelectFZ{
	top: 60px;
}

#sysSelectBtn{
	position: absolute;
	background: #000;
	right: 0px;
	top: 90px;
	border: 1px solid #b4ffff;
	border-radius: 5px;
	box-shadow: 0 0 1px #b4ffff, inset 0 0 1px #b4ffff, 0 0 5px #80ffff;
	font-family: "Neuropolitical Rg";
	font-size: 10px;
	color: #b4ffff;
}

#sysSelectBtn:hover{
	box-shadow: 0 0 5px #b4ffff, inset 0 0 15px #b4ffff, 0 0 15px #80ffff;
}